$color-primary: #8a9298;
$color-blue: 	#327997;
$color-white: 	#fff;
$color-black: 	#3b3b3b;
$color-gray-135: rgb(136, 136, 136);
$color-head-main-text: rgb(101, 194, 93);
$color-black-rgb: rgb(0, 0, 0);
$color-black-opacity: rgba(0, 0, 0, 0.2);
$color-button: rgb(137, 202, 137);
$color-button-slide-3: rgb(242, 108, 79);
$color-portfolio-button: rgb(155, 155, 154);
$color-news-p: rgb(213, 210, 208);
$color-hover-h3: rgb(153, 153, 153);
$color-testimonials-background: rgb(244, 244, 244);
$color-hover-image: rgb(31, 180, 210);
$color-testimonials-button: rgb(242, 108, 79);
$color-wordPress-section: rgb(121, 194, 119);
$color-tag: rgb(34, 34, 34);
$color-tag-letters: rgb(148, 152, 152);
$color-social: rgb(134, 134, 134);
